.mainTop {
height: 100%;
  .text {
    margin-right: 120px;
    h1 {
      font-family: "Muller Bold";
      margin-bottom: 25px;
    }
    p {
      line-height: 1.4;
    }
  }
  .download {
    margin: 25px 0;
  }
}